
params {
    genomes {
        "GRCm38_local" {
            intervals         = "/rtsess01/compute/juno/bic/ROOT/work/kristakaz/GRCm38/Targets/M-IMPACT_v2_mm10_targets__1000pad.bed"
            pon               = "/rtsess01/compute/juno/bic/ROOT/rscr/references/Mus_musculus/BIC_MSK/GRCm38/PoN/M-IMPACT_v2_GRCm38/pon.vcf.gz"
            pon_tbi           = "/rtsess01/compute/juno/bic/ROOT/rscr/references/Mus_musculus/BIC_MSK/GRCm38/PoN/M-IMPACT_v2_GRCm38/pon.vcf.gz.tbi"
            normalize_vcf_bed = "/rtsess01/compute/juno/bic/ROOT/work/kristakaz/GRCm38/Targets/M-IMPACT_v2_mm10_targets_plus15bp.bed"
        }
        "GRCm39_local" {
            intervals         = "/juno/bic/depot/targets/Mus_musculus/mm39/M-IMPACT_v2_mm39_targets__1000pad.bed"
            pon               = "/juno/bic/depot/targets/Mus_musculus/mm39/M-IMPACT_v2_mm39/pon.vcf.gz"
            pon_tbi           = "/juno/bic/depot/targets/Mus_musculus/mm39/M-IMPACT_v2_mm39/pon.vcf.gz.tbi"
            normalize_vcf_bed = "/juno/bic/depot/targets/Mus_musculus/mm39/M-IMPACT_v2_mm39_targets_plus15bp.bed"
        }
    }
}
