
params {
    genomes {
        "GRCm38_local" {
            intervals         = "/rtsess01/compute/juno/bic/ROOT/work/kristakaz/GRCm38/Targets/M-IMPACT_v2_mm10_targets__1000pad.bed"
            pon               = "/rtsess01/compute/juno/bic/ROOT/rscr/references/Mus_musculus/BIC_MSK/GRCm38/PoN/M-IMPACT_v2_GRCm38/pon.vcf.gz"
            pon_tbi           = "/rtsess01/compute/juno/bic/ROOT/rscr/references/Mus_musculus/BIC_MSK/GRCm38/PoN/M-IMPACT_v2_GRCm38/pon.vcf.gz.tbi"
            normalize_vcf_bed = "/rtsess01/compute/juno/bic/ROOT/work/kristakaz/GRCm38/Targets/M-IMPACT_v2_mm10_targets_plus15bp.bed"
            targets_ilist     = "/rtsess01/compute/juno/bic/ROOT/work/kristakaz/GRCm38/Targets/M-IMPACT_v2_GRCm38_targets.ilist"
            bait_ilist        = "/rtsess01/compute/juno/bic/ROOT/work/kristakaz/GRCm38/Targets/M-IMPACT_v2_GRCm38_baits.ilist"
        }
        "GRCm39_local" {
            intervals         = "/rtsess01/compute/juno/bic/ROOT/work/kristakaz/GRCm39/Targets/M-IMPACT_v2/M-IMPACT_v2_mm39_targets__1000pad.bed"
            pon               = "/rtsess01/compute/juno/bic/ROOT/work/kristakaz/GRCm39/Targets/M-IMPACT_v2/PoN/pon.vcf.gz"
            pon_tbi           = "/rtsess01/compute/juno/bic/ROOT/work/kristakaz/GRCm39/Targets/M-IMPACT_v2/PoN/pon.vcf.gz.tbi"
            normalize_vcf_bed = "/rtsess01/compute/juno/bic/ROOT/work/kristakaz/GRCm39/Targets/M-IMPACT_v2/M-IMPACT_v2_mm39_targets_plus15bp.bed"
            targets_ilist     = "/rtsess01/compute/juno/bic/ROOT/work/kristakaz/GRCm39/Targets/M-IMPACT_v2/M-IMPACT_v2_mm39_targets.ilist"
            bait_ilist        = "/rtsess01/compute/juno/bic/ROOT/work/kristakaz/GRCm39/Targets/M-IMPACT_v2/M-IMPACT_v2_mm39_baits.ilist"
        }
    }
}
