
params {
    genomes {
        "GRCm38_local" {
            pon               = "/rtsess01/compute/juno/bic/ROOT/rscr/references/Mus_musculus/BIC_MSK/GRCm38/PoN/pon.00.vcf.gz"
            pon_tbi           = "/rtsess01/compute/juno/bic/ROOT/rscr/references/Mus_musculus/BIC_MSK/GRCm38/PoN/pon.00.vcf.gz.tbi"
            normalize_vcf_bed = "/rtsess01/compute/juno/bic/ROOT/work/kristakaz/GRCm38/Targets/M-IMPACT_v2_mm10_targets_plus15bp.bed"
        }
        "GRCm39_local" {
            pon               = "/juno/bic/depot/targets/Mus_musculus/mm39/twist_mm39/pon.vcf.gz"
            pon_tbi           = "/juno/bic/depot/targets/Mus_musculus/mm39/twist_mm39/pon.vcf.gz.tbi"
            normalize_vcf_bed = "/juno/bic/depot/targets/Mus_musculus/mm39/twist_mm39_targets_plus15bp.bed"
        }
    }
}

