params {
    genomes {
        "GRCm38_local" {
            intervals         = "/data1/core001/work/bic/kazmierk/GRCm38/Targets/Twist/Twist_Mouse_Exome_Target_Rev1_7APR20_GRCm38_CLEAN__1000pad.bed"
            pon               = "/data1/core001/rsrc/genomic/references/Mus_musculus/BIC_MSK/GRCm38/PoN/pon.00.vcf.gz"
            pon_tbi           = "/data1/core001/rsrc/genomic/references/Mus_musculus/BIC_MSK/GRCm38/PoN/pon.00.vcf.gz.tbi"
            normalize_vcf_bed = "/data1/core001/work/bic/kazmierk/GRCm38/Targets/M-IMPACT_v2_mm10_targets_plus15bp.bed"
            targets_ilist     = "/data1/core001/work/bic/kazmierk/GRCm38/Targets/Twist/Twist_Mouse_Exome_Target_Rev1_7APR20_GRCm38_targets.ilist"
            bait_ilist        = "/data1/core001/work/bic/kazmierk/GRCm38/Targets/Twist/Twist_Mouse_Exome_Target_Rev1_7APR20_GRCm38_baits.ilist"
        }
        "GRCm39_local" {
            intervals         = "/data1/core001/work/bic/kazmierk/GRCm39/Targets/Twist/Twist_mm39_targets__1000pad.bed"
            pon               = "/data1/core001/work/bic/kazmierk/GRCm39/Targets/Twist/PoN/pon.vcf.gz"
            pon_tbi           = "/data1/core001/work/bic/kazmierk/GRCm39/Targets/Twist/PoN/pon.vcf.gz.tbi"
            normalize_vcf_bed = "/data1/core001/work/bic/kazmierk/GRCm39/Targets/Twist/Twist_mm39_targets_plus15bp.bed"
            targets_ilist     = "/data1/core001/work/bic/kazmierk/GRCm39/Targets/Twist/Twist_mm39_targets.ilist"
            bait_ilist        = "/data1/core001/work/bic/kazmierk/GRCm39/Targets/Twist/Twist_mm39_baits.ilist"
        }
    }
}