cleanup = false

mm38_base = "/rtsess01/compute/juno/bic/ROOT/rscr/references/Mus_musculus/BIC_MSK/GRCm38"

params {
    genomes {
        "GRCm38_local" {
            bwa                   = "${mm38_base}/Sequence/BWAIndex/Version0.7.17/"
            dict                  = "${mm38_base}/Sequence/WholeGenomeFasta/GRCm38.dict"
            fasta                 = "${mm38_base}/Sequence/WholeGenomeFasta/GRCm38.fa"
            fasta_fai             = "${mm38_base}/Sequence/WholeGenomeFasta/GRCm38.fa.fai"
            intervals             = "${mm38_base}/Annotation/intervals/GRCm38_calling_list.bed"
            dbsnp                 = "${mm38_base}/Annotation/Variation/Mus_musculus.vcf.gz"
            dbsnp_tbi             = "${mm38_base}/Annotation/Variation/Mus_musculus.vcf.gz.tbi"
            known_snps            = "${mm38_base}/MouseGenomeProject/mgp.v5.merged.snps_all.dbSNP142.vcf.gz"
            known_snps_tbi        = "${mm38_base}/MouseGenomeProject/mgp.v5.merged.snps_all.dbSNP142.vcf.gz.tbi"
            known_indels          = "${mm38_base}/MouseGenomeProject/mgp.v5.merged.indels.dbSNP142.normed.vcf.gz"
            known_indels_tbi      = "${mm38_base}/MouseGenomeProject/mgp.v5.merged.indels.dbSNP142.normed.vcf.gz.tbi"
            germline_resource     = "${mm38_base}/Annotation/GermlineEvents/mgp.v5.merged.ALL.dbSNP142.AF_InfoOnly.vcf.gz"
            germline_resource_tbi = "${mm38_base}/Annotation/GermlineEvents/mgp.v5.merged.ALL.dbSNP142.AF_InfoOnly.vcf.gz.tbi"
            mappability           = "${mm38_base}/Annotation/Control-FREEC/GRCm38_68_mm10.gem"
            readme                = "${mm38_base}/Annotation/README.txt"
            snpeff_db             = 'GRCm38.99'
            vep_cache_version     = 102
            vep_genome            = 'GRCm38'
            vep_species           = 'mus_musculus'
            vep_config            = "${projectDir}/assets/musvar_mm38_vep.ini"
            // These are things we created, need to pull them from params.genomes[blahblah]
            fasta_bed             = "/rtsess01/compute/juno/bic/ROOT/work/kristakaz/GRCm38.bed"
            vep_cache             = "/juno/bic/work/kristakaz/VEP/vep_data"
            vep_fasta             = "/juno/bic/work/kristakaz/VEP/vep_data/mus_musculus/102_GRCm38/Mus_musculus.GRCm38.dna.toplevel.fa.gz"

        }
        "GRCm39_local" {
            bwa                   = "/juno/bic/depot/assemblies/M.musculus/GRCm39/ncbi/BWAIndex/Version0.7.18/"
            dict                  = "/juno/bic/depot/assemblies/M.musculus/GRCm39/ncbi/GRCm39.dict"
            fasta                 = "/juno/bic/depot/assemblies/M.musculus/GRCm39/ncbi/GRCm39.fa"
            fasta_fai             = "/juno/bic/depot/assemblies/M.musculus/GRCm39/ncbi/GRCm39.fa.fai"
            intervals             = "/juno/bic/depot/assemblies/M.musculus/GRCm39/ncbi/GRCm39_calling_list.bed"
            dbsnp                 = "/juno/bic/depot/annotation/M.musculus/ensembl/v113/GRCm39_ensembl_113.vcf.gz"
            dbsnp_tbi             = "/juno/bic/depot/annotation/M.musculus/ensembl/v113/GRCm39_ensembl_113.vcf.gz.tbi"
            known_snps            = "/juno/bic/depot/annotation/M.musculus/MouseGenomeProject/mgp_REL2021_snps.rsID.vcf.gz"
            known_snps_tbi        = "/juno/bic/depot/annotation/M.musculus/MouseGenomeProject/mgp_REL2021_snps.rsID.vcf.gz.tbi"
            known_indels          = "/juno/bic/depot/annotation/M.musculus/MouseGenomeProject/mgp_REL2021_indels.rsID.vcf.gz"
            known_indels_tbi      = "/juno/bic/depot/annotation/M.musculus/MouseGenomeProject/mgp_REL2021_indels.rsID.vcf.gz.tbi"
            germline_resource     = "/juno/bic/depot/annotation/M.musculus/MouseGenomeProject/mgp.v8.merged.ALL.AF_InfoOnly.vcf.gz"
            germline_resource_tbi = "/juno/bic/depot/annotation/M.musculus/MouseGenomeProject/mgp.v8.merged.ALL.AF_InfoOnly.vcf.gz.tbi"
            snpeff_db             = 'GRCm39.105' // I know that dbsnp is 113 above, but snpeff db only has 105
            vep_cache_version     = 113
            vep_genome            = 'GRCm39'
            vep_species           = 'mus_musculus'
            vep_config            = "${projectDir}/assets/musvar_mm39_vep.ini"
            // These are things we created, need to pull them from params.genomes[blahblah]
            fasta_bed             = "/juno/bic/depot/assemblies/M.musculus/GRCm39/ncbi/GRCm39.bed"
            vep_cache             = "/juno/bic/work/kristakaz/VEP/vep_data"
            vep_fasta             = "/juno/bic/work/kristakaz/VEP/vep_data/mus_musculus/113_GRCm39/Mus_musculus.GRCm39.dna.toplevel.fa.gz"
        }
    }
}

params {
    musvar                = true
    vep_cache             = "/juno/bic/work/kristakaz/VEP/vep_data"
    qc_control_csv        = "${projectDir}/assets/QC/qcControls_20250604_.csv"
}

// for right now vardict_bed is different than intervals, but Nick runs it with vardict_bed in both params.
// Still looking to see if this is correct
// He changes the value when the runs sarek to the value in vardict_bed, so I'm just going to run it with the bed he provides to sarek

//plugins {
//    id 'nf-co2footprint@1.0.0-beta' // carbon footprint plugin
//}

params.publish_dir_mode = 'copy' // copy or link

process {
    withName: GATK4_COLLECTALIGNMENTSUMMARYMETRICS {
        ext.args = { " -LEVEL null -LEVEL SAMPLE " }
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/metrics" },
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: GATK4_COLLECTINSERTSIZEMETRICS {
        ext.args = { " -LEVEL null -LEVEL SAMPLE " }
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/metrics" },
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: GATK4_COLLECTHSMETRICS {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/metrics" },
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: VARDICTJAVA {
       cpus = 6
       memory = { 90.GB * (1 + (5/100 * task.attempt)) }
       ext.args = {"-f 0.01 -c 1 -S 2 -E 3 -N ${meta.patient}_${meta.tumor_id}"}
       ext.args2 = {"-f 0.01 -N \"${meta.patient}_${meta.tumor_id}|${meta.patient}_${meta.normal_id}\" -b ${params.fasta_bed}"}
       publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_calling/vardict/${meta.id}" },
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }
    withName: TABIX_VARDICT {
        ext.args = {"-p vcf"}
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_calling/vardict/${meta.id}" },
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }
    withName: TAG_VCF_VARDICT {
        ext.post_cmd = { "cat temp2.vcf | fgrep -v \"<DEL>\" > temp3.vcf" }
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_calling/vardict/${meta.id}" },
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: TAG_VCF_FREEBAYES {
        // sometimes the GQ field is an integer, but sometimes it is a float, so we need to change it to float
        ext.pre_cmd = { "zcat ${vcf} | sed s'/FORMAT=<ID=GQ,Type=Integer/FORMAT=<ID=GQ,Type=Float/g' | bgzip > temp_input.vcf.gz && tabix temp_input.vcf.gz" }
        ext.post_cmd = { "fgrep -v \".:.:.\" temp2.vcf > temp3.vcf" }
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_calling/freebayes/${meta.id}" },
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }
    withName: TAG_VCF_STRELKA {
        ext.sort_cmd = { "| bcftools sort - "}
        ext.post_cmd = { "cat temp2.vcf | perl -pe 's/NORMAL/'${meta.patient}_${meta.normal_id}'/ if /^#C/; s/TUMOR/'${meta.patient}_${meta.tumor_id}'/ if /^#C/' > temp3.vcf" }
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_calling/strelka/${meta.id}" },
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }
    withName: TAG_VCF_MUTECT2 {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_calling/mutect2/${meta.id}" },
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }
    withName: BCFTOOLS_CONCAT_STRELKA {
        ext.args = { " -a --write-index=tbi " }
        ext.prefix = { "${meta.id}_STRELKA_CONCAT"}
    }
    withName: VCF2MAF  {
        container = params.genome == "GRCm38_local" ? "/juno/bic/depot/singularity/vcf2maf/vcf2maf_1_6_22_vep_102.simg" :
        'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7c/7cbf9421f0bee23a93a35c5d0c7166ac1e89a40008d8e474cecfddb93226bf65/data'

        containerOptions = " -B ${projectDir}/assets "

        label = "process_medium"
        ext.prefix = { "${meta.id}_${meta.variantcaller}" }
        ext.args = { [
            "--species mus_musculus",
            "--ncbi-build ${params.vep_genome}",
            "--retain-info CALLER,DP,STATUS",
            "--retain-fmt AD",
            "--vep-forks 6",
            "--vep-config ${params.genome == "GRCm38_local" ? "${projectDir}/assets/musvar_mm38_vep.ini" : "${projectDir}/assets/musvar_mm39_vep.ini"}",
            "--normal-id ${meta.patient}_${meta.normal_id}",
            "--tumor-id ${meta.patient}_${meta.tumor_id}"
        ].join(' ').trim() }

    }

    withName: BIC_SAMPLE_QC {
        containerOptions = " -B ${projectDir}"
    }

    withName: MERGE_MAFS {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_calling" },
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: FILTER_MAFS {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/post/reports" },
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }
}
