cleanup = false

RBASE = "/rtsess01/compute/juno/bic/ROOT/rscr/references/Mus_musculus/BIC_MSK/GRCm38"
params {
    bwa                   = "${RBASE}/Sequence/BWAIndex/Version0.7.17/"
    dict                  = "${RBASE}/Sequence/WholeGenomeFasta/GRCm38.dict"
    fasta                 = "${RBASE}/Sequence/WholeGenomeFasta/GRCm38.fa"
    fasta_fai             = "${RBASE}/Sequence/WholeGenomeFasta/GRCm38.fa.fai"
    fasta_bed             = "/rtsess01/compute/juno/bic/ROOT/work/kristakaz/GRCm38.bed"
    intervals             = "/rtsess01/compute/juno/bic/ROOT/work/kristakaz/GRCm38/Targets/M-IMPACT_v2_mm10_targets__1000pad.bed"
    normalize_vcf_bed     = "/rtsess01/compute/juno/bic/ROOT/work/kristakaz/GRCm38/Targets/M-IMPACT_v2_mm10_targets_plus15bp.bed"
    //intervals             = "${RBASE}/Annotation/intervals/GRCm38_calling_list.bed"
    dbsnp                 = "${RBASE}/Annotation/Variation/Mus_musculus.vcf.gz"
    dbsnp_tbi             = "${RBASE}/Annotation/Variation/Mus_musculus.vcf.gz.tbi"
    known_snps            = "${RBASE}/MouseGenomeProject/mgp.v5.merged.snps_all.dbSNP142.vcf.gz"
    known_snps_tbi        = "${RBASE}/MouseGenomeProject/mgp.v5.merged.snps_all.dbSNP142.vcf.gz.tbi"
    known_indels          = "${RBASE}/MouseGenomeProject/mgp.v5.merged.indels.dbSNP142.normed.vcf.gz"
    known_indels_tbi      = "${RBASE}/MouseGenomeProject/mgp.v5.merged.indels.dbSNP142.normed.vcf.gz.tbi"
    //pon                   = "${RBASE}/PoN/M-IMPACT_v2_GRCm38/pon.vcf.gz"
    //pon_tbi               = "${RBASE}/PoN/M-IMPACT_v2_GRCm38/pon.vcf.gz.tbi"
    germline_resource     = "${RBASE}/Annotation/GermlineEvents/mgp.v5.merged.ALL.dbSNP142.AF_InfoOnly.vcf.gz"
    germline_resource_tbi = "${RBASE}/Annotation/GermlineEvents/mgp.v5.merged.ALL.dbSNP142.AF_InfoOnly.vcf.gz.tbi"
    mappability           = "${RBASE}/Annotation/Control-FREEC/GRCm38_68_mm10.gem"
    readme                = "${RBASE}/Annotation/README.txt"
    snpeff_db             = 99
    snpeff_genome         = 'GRCm38'
    vep_cache_version     = 102
    vep_cache             = "/juno/bic/work/kristakaz/VEP/vep_data"
    vep_genome            = 'GRCm38'
    vep_species           = 'mus_musculus'
}
// for right now vardict_bed is different than intervals, but Nick runs it with vardict_bed in both params.
// Still looking to see if this is correct
// He changes the value when the runs sarek to the value in vardict_bed, so I'm just going to run it with the bed he provides to sarek

//plugins {
//    id 'nf-co2footprint@1.0.0-beta' // carbon footprint plugin
//}

params.publish_dir_mode = 'copy' // copy or link

process {
    withName: VARDICTJAVA {
       ext.args = {"-f 0.01 -c 1 -S 2 -E 3 -N ${meta.patient}_${meta.tumor_id}"}
       ext.args2 = {"-f 0.01 -N \"${meta.patient}_${meta.tumor_id}|${meta.patient}_${meta.normal_id}\" -b ${params.fasta_bed}"}
       publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_calling/vardict/${meta.id}" },
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }
    withName: TABIX_VARDICT {
        ext.args = {"-p vcf"}
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_calling/vardict/${meta.id}" },
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }
    withName: TAG_VCF_VARDICT {
        ext.post_cmd = { "cat temp2.vcf | fgrep -v \"<DEL>\" > temp3.vcf" }
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_calling/vardict/${meta.id}" },
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }
    withName: TAG_VCF_STRELKA {
        ext.sort_cmd = { "| bcftools sort - "}
        ext.post_cmd = { "cat temp2.vcf | perl -pe 's/NORMAL/'${meta.patient}_${meta.normal_id}'/ if /^#C/; s/TUMOR/'${meta.patient}_${meta.tumor_id}'/ if /^#C/' > temp3.vcf" }
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_calling/strelka/${meta.id}" },
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }
    withName: TAG_VCF_MUTECT2 {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_calling/mutect2/${meta.id}" },
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }
    withName: BCFTOOLS_CONCAT_STRELKA {
        ext.args = { " -a --write-index=tbi " }
        ext.prefix = { "${meta.id}_STRELKA_CONCAT"}
    }
    withName: VCF2MAF  {
        label = "process_medium"
        ext.prefix = { "${meta.id}_${meta.variantcaller}" }
        ext.args = { [
            "--species mus_musculus",
            "--ncbi-build GRCm38",
            "--retain-info CALLER,DP,STATUS",
            "--retain-fmt AD",
            "--vep-forks 6",
            "--vep-config ${projectDir}/assets/musvar_vep.ini",
            "--normal-id ${meta.patient}_${meta.normal_id}",
            "--tumor-id ${meta.patient}_${meta.tumor_id}"
        ].join(' ').trim() }

    }

    withName: MERGE_MAFS {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_calling" },
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: FILTER_MAFS {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/post/reports" },
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }
}
