/*
 * -------------------------------------------------
 * Pipeline parameters specific to running nextflow/nf-core pipelines on JUNO
 * -------------------------------------------------
 */

executor {
  name = "lsf"
  queueSize = 5000000000
  perJobMemLimit = false
  perTaskReserve = true
}

process {
  time = { task.attempt < 3 ? 3.h * task.attempt  : 500.h }
  scratch = true
  maxRetries = 3
  errorStrategy = { task.attempt <= process.maxRetries ? 'retry' : 'terminate' }


// Had to change the cpus and memory because LSF needs at least 1GB per cpu
  withName: "FASTP" {
    cpus   = { 12 }
    memory = { 12.GB }
    time = { task.attempt < 3 ? 1.h * task.attempt  : 4.h }
  }

// Had to change the cpus and memory because LSF needs at least 1GB per cpu
  withName:'STRELKA.*|MANTA.*' {
        cpus   = { 10   * task.attempt }
        memory = { 10.GB * task.attempt }
  }

}



env {
  SPARK_LOCAL_DIRS = './'
}


