/*
 * -------------------------------------------------
 * Pipeline parameters specific to running nextflow/nf-core pipelines on JUNO
 * -------------------------------------------------
 */

executor {
  name = "lsf"
  queueSize = 5000000000
  perJobMemLimit = true
}

process {
  time = { task.attempt < 3 ? 3.h * task.attempt  : 500.h }
  scratch = true
  maxRetries = 3
  errorStrategy = { task.attempt <= process.maxRetries ? 'retry' : 'ignore' }
}



env {
  SPARK_LOCAL_DIRS = './'
}
