/*
 * -------------------------------------------------
 * Pipeline parameters specific to running nextflow/nf-core pipelines on JUNO
 * -------------------------------------------------
 */

executor {
  name = "lsf"
  queueSize = 5000000000
  perJobMemLimit = true
}

process {
  memory = "8.GB"
  time = { task.attempt < 3 ? 3.h * task.attempt  : 500.h }
  scratch = true
  maxRetries = 3
  errorStrategy = { task.attempt <= process.maxRetries ? 'retry' : 'ignore' }
}

params {
  max_memory = "128.GB"
  minWallTime = 3.h
  medWallTime = 6.h
  maxWallTime = 500.h
  wallTimeExitCode = '140,0,1,143'
}

env {
  SPARK_LOCAL_DIRS = './'
}
